.clearBoth {
    clear: both;
}

html {
    background-color:#ffefa5;
    font-family:Arial, sans-serif;
    color:#a5b5ff
}

header {
    text-align:center;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: black;
    text-align: center;
}